<header class="header_area" style="background: #081b30">
    <div class="logo_part" style="padding: 0px">
        <div class="container">
            <ul style="margin-top: 10px; margin-bottom: 0px; float: right; font-size: 12px; margin-right: 10px; font-weight: 600">
                <li style="list-style: none; display: inline; margin-right: 10px;"><a style="color: white" href="http://www.halic.edu.tr/tr">halic.edu.tr</a></li>
                <li style="list-style: none; display: inline; margin-right: 10px;"><a style="color: white" href="http://halic.edu.tr/tr/halicte-yasam/iletisim">İletişim</a></li>
                <li style="list-style: none; display: inline; margin-right: 10px;"><a style="color: white" href="#"><i class="fa fa-instagram"></i></a></li>
                <li style="list-style: none; display: inline; margin-right: 10px;"><a style="color: white" href="#"><i class="fa fa-facebook"></i></a></li>
                <li style="list-style: none; display: inline; margin-right: 10px;"><a style="color: white" href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="main_menu" style="background: #081b30">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container nav-size">
                <a class="navbar-brand logo_h" href="index.html"><img src="~/img/hublogo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <a class="logo-display" asp-area="" asp-controller="Home" asp-action="Index"><img style="width: 140px; position: relative; top: -15px;" src="~/img/hublogo.png" alt=""></a>
                    <ul class="nav navbar-nav menu_nav" style="margin-left: auto;">
                        <li class="nav-item"><a style="padding: 0px 12px; font-size: 13px" class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">GÜNCEL</a></li>
                        <li class="nav-item"><a style="padding: 0px 12px; font-size: 13px" class="nav-link" asp-area="" asp-controller="Home" asp-action="ArticleList">YAYINLAR</a></li>
                        <li class="nav-item"><a style="padding: 0px 12px; font-size: 13px" class="nav-link" asp-area="" asp-controller="Home" asp-action="NewsList">HABERLER</a></li>
                        <li class="nav-item"><a style="padding: 0px 12px; font-size: 13px" class="nav-link" asp-area="" asp-controller="Home" asp-action="AuthorList">YAZARLAR</a></li>
                        <li class="nav-item"><a style="padding: 0px 12px; font-size: 13px" class="nav-link" asp-area="" asp-controller="Home" asp-action="Video">HALİÇTV</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>