@model News

<div class="item">
    <div class="shadow-effect img-hover-zoom img-border">
        <div class="img-hover-zoom">
            <a href="#">
                <img class="img-responsive img-border" src="~/img/@Model.Image" alt="">
            </a>
        </div>
        <div class="item-details text-border">
            <a asp-controller="home" asp-action="NewsDetails" asp-route-url="@Model.Url">
                <h5 class="text-box-title">@Model.Title</h5>
            </a>
            <p class="text-clr text-box-content">@Model.Description</p>
        </div>
    </div>
</div>