@model AuthorListViewModel
@await Html.PartialAsync("_Header")
<section class="banner_area slider-m">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="banner_content">
                <h2>Yazarlar</h2>
                <div class="page_link">
                    <a href="index.html">Anasayfa</a>
                    <a href="category.html">Yazarlar</a>
                </div>
            </div>
        </div>
    </div>
</section>
@*<partial name="_AuthorSearch">*@
<section style="margin-top: 40px">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Authors)
            {

                @await Html.PartialAsync("_Author", item)}  
        </div>
    </div>
</section>
    @await Html.PartialAsync("_Footer")

